$backgroud-cart: #aaaaaa;
$backgroud-title: rgb(215, 75, 51);
.pay {
  margin: 30px 0;
  label.bold,
  span.bold {
    color: black;
    font-weight: 500 !important;
  }
  .pay-content {
    margin: 30px 0;
    .row {
      margin: 0 !important;
      .payment-step {
        padding-right: 3px !important;
        padding-left: 0 !important;
      }
    }
    .box {
      .title {
        background: $backgroud-title;
        padding: 5px;
        color: white;
      }
      .border {
        min-height: 580px;
        padding: 20px 10px;
      }
    }
    .user {
      .user-infor {
        .infor-pay {
          .link {
            color: $backgroud-title;
          }
          .line {
            position: relative;
            margin-right: 10px;
            &::after {
              position: absolute;
              content: '';
              width: 1px;
              height: 20px;
              background: $backgroud-cart;
              top: 0px;
              right: -6px;
            }
          }
        }
      }
    }
    .product {
      .cart-infor {
        .line-bottom {
          padding: 10px 0;
          border-bottom: 1px solid rgb(235, 234, 234);
        }
        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .parent {
            position: relative;
            width: 20% !important;
            overflow: hidden !important;
            height: 100%;
            .child {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
        .total-payment {
          .sum {
            color: $backgroud-title;
            font-size: 20px;
          }
        }
        .button {
          .btn {
            border-radius: 0;
            font-size: 12px;
            &:hover {
              background: $backgroud-title;
              border: 1px solid $backgroud-title;
            }
          }
        }
        .clearfix {
          clear: both;
        }
      }
    }
  }
}
