$menu-backgroud: rgb(215, 75, 51);
$color-black: black;
.product-bottom {
  .owl-carousel {
    &:hover {
      .owl-nav {
        opacity: 1 !important;
      }
    }
    .owl-stage-outer {
      .owl-stage {
        display: flex;
        align-items: center;
      }
    }
    .owl-nav {
      transition: all 0.5s ease-out !important;
      opacity: 0 !important;
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: $menu-backgroud !important;
        font-size: 16px;
        display: block;
        color: white !important;
        border-radius: 0 !important;
        &:hover {
          background: $color-black !important;
          color: $menu-backgroud !important;
        }
      }
      .owl-prev {
        left: -0.3rem !important;
      }

      .owl-next {
        right: -0.3rem !important;
      }
    }
    .owl-dots {
      display: none;
    }
  }
}
