.box-product {
  margin-top: 10px;
  .title {
    background-color: #d74b33 !important;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 15px 10px;
    text-transform: uppercase;
  }
  .box-product-block {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
  }
}
