$backgroud: rgb(140, 139, 138);
$backgroud-sidebar: rgb(242, 223, 220);
.admin-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  header {
    .navbar {
      background: $backgroud;
      padding: 0.3rem 3.4375rem 0.3rem 0rem;
      z-index: 1;
      .border-logo {
        background: #ffffff;
        padding: 2px 0;
        border: 2px solid rgb(114, 43, 32);
        margin-top: -6px;
        box-shadow: 4px 4px 4px 0px rgb(114, 43, 32);
        .screen-mobi {
          display: none;
        }
      }
      .btn-toggler {
        font-size: 30px;
        color: #ffffff !important;
        .btn-secondary {
          &:hover {
            background: $backgroud-sidebar;
            border: 1px solid $backgroud-sidebar;
          }
        }
      }
      .information {
        .navbar-nav {
          .nav-item {
            .nav-link {
              font-weight: 300;
              position: relative;
              margin-left: 20px;
              color: #ffffff;
              .badge {
                position: absolute;
                top: 5px;
                right: 0px;
                font-weight: 300;
                font-size: 60%;
              }
              .fa,
              .fullname {
                &:hover {
                  color: $backgroud-sidebar;
                }
              }
            }
          }
          .clock {
            position: relative;
            margin-left: 20px;
            font-size: 15px;
            &.clock::after {
              position: absolute;
              content: '';
              width: 2px;
              height: 30px;
              background-image: linear-gradient(to right, white, white);
              top: 7px;
            }
            .circle-user {
              color: white;
              margin-left: 5px;
            }
          }
        }
        .screen-mobi {
          display: none;
          position: relative;
          &:hover {
            .childen {
              opacity: 1;
            }
          }
          .childen {
            opacity: 0;
            position: absolute;
            top: 2px;
            flex-direction: column !important;
            background: $backgroud-sidebar;
            top: 32px;
            right: 10px;
            .nav-link {
              margin-left: 0px;
              color: black;
              width: 100px;
              text-align: center;
              &:hover {
                background: $backgroud;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .sidebar-menu {
    position: fixed;
    float: left;
    width: 185px;
    height: 100%;
    top: 68px;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $backgroud-sidebar;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
          &:hover {
            color: white;
            background: $backgroud;
          }
        }
        .parent {
          display: flex;
          justify-content: space-between;
          .icon,
          .arrive {
            text-align: center;
          }
          .icon {
            width: 25%;
          }
          .title {
            width: 50%;
          }
          .arrive {
            width: 25%;
          }
        }
      }
      .children {
        .nav-link {
          padding-left: 30px;
        }
      }
    }
  }
  .left-content {
    float: right;
    width: calc(100% - 185px);
    min-height: 100%;
    padding: 35px 20px 0px 20px;
    margin-top: 55px;
  }
  .main-content {
    // width: 100% !important;
    // min-height: 100% !important;
    // padding: 7em 2em;
    float: right;
    width: calc(100% - 69px);
    min-height: 100%;
    padding: 35px 20px 0px 20px;
    margin-top: 55px;
  }
  .sidebar-menu-button {
    width: 69px !important;
    position: fixed;
    float: left;
    height: 100%;
    top: 68px;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $backgroud-sidebar;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
          &:hover {
            color: white;
            background: $backgroud;
          }
        }
        .parent {
          display: flex;
          flex-direction: column !important;
          .icon {
            text-align: center;
            width: auto !important;
          }
          .title {
            text-align: center;
            width: auto !important;
          }
          .arrive {
            display: none !important;
          }
        }
        .children {
          .nav-link {
            padding-left: 0px !important;
            .fa {
              margin-right: 2px !important;
            }
          }
        }
      }
    }
  }
}
// Responsive
@media (min-width: 992px) and (max-width: 1236px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 485px) and (max-width: 668px) {
  header {
    .navbar {
      .border-logo {
        .screen-668 {
          display: none;
        }
        .screen-mobi {
          display: block !important;
        }
      }
    }
  }
  .sidebar-menu {
    width: 69px !important;
    .navbar-nav {
      .nav-item {
        .parent {
          flex-direction: column !important;
          align-items: center;
          .icon {
            width: auto !important;
          }
          .title {
            width: auto !important;
          }
          .arrive {
            display: none !important;
          }
        }
        .children {
          .nav-link {
            padding-left: 0px !important;
            .fa {
              margin-right: 2px !important;
            }
          }
        }
      }
    }
  }
  .left-content {
    width: calc(100% - 69px) !important;
  }
}

/* // Extra Small devices (320px and up) */
@media (min-width: 0px) and (max-width: 485px) {
  header {
    .navbar {
      .border-logo {
        .screen-668 {
          display: none;
        }
        .screen-mobi {
          display: block !important;
        }
      }
    }
    .information {
      .screen-496 {
        display: none !important;
      }
      .screen-mobi {
        display: block !important;
      }
    }
  }
  .sidebar-menu {
    width: 69px !important;
    .navbar-nav {
      .nav-item {
        .parent {
          flex-direction: column !important;
          align-items: center;
          .icon {
            width: auto !important;
          }
          .title {
            width: auto !important;
          }
          .arrive {
            display: none !important;
          }
        }
        .children {
          .nav-link {
            padding-left: 0px !important;
            .fa {
              margin-right: 2px !important;
            }
          }
        }
      }
    }
  }
  .left-content {
    width: calc(100% - 69px) !important;
  }
}
