.introduce {
  margin: 30px 0;
  .introduce-sidebar {
    margin-bottom: 20px;
  }
  .introduce-content {
    .introduct-content-block {
      .writer {
        text-align: justify;
      }
    }
  }
}
