.container {
  .changepassword {
    .changepassword-menu {
      margin-top: 23px;
      .nav {
        .icon-link {
          margin-left: 10px;
        }
        .active {
          margin-left: 10px;
        }
      }
    }
    h1 {
      border-bottom: 1px solid #d74b33;
      .title {
        line-height: 21px !important;
        font-weight: 100 !important;
        margin-bottom: 10px;
        margin-top: 0px;
      }
      span {
        background: #d74b33 none repeat scroll 0 0;
        color: #fff;
        font-size: 17px;
        position: relative;
        padding: 5px 12px;
      }
    }
    .form-group {
      display: flex;
      text-align: end;
      label {
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
        font-weight: bold;
      }
    }
  }

  .btn-primary {
    background-color: #d74b33;
    color: #ffffff;
    border: #d74b33;
    border-radius: 0;
    &:hover {
      background-color: #333;
      border: #333;
    }

    .btn {
      display: inline-block;
      padding: 9px 15px;
      margin-bottom: 0;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1em;
      text-align: center;
      white-space: nowrap;
      touch-action: manipulation;
      background-image: none;
      margin-bottom: 15px;
      color: #ffffff;
      border: none;
    }
  }
}
@media (min-width: 992px) and (max-width: 1236px) {
  .container {
    .changepassword {
      .control-label {
        white-space: nowrap;
      }
      .button-login {
        margin-left: 45px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    .changepassword {
      .form-group {
        .control-label {
          white-space: nowrap;
          margin-left: -15px;
        }
      }
      .button-login {
        margin-left: -120px;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    .changepassword {
      .form-group {
        display: block;
        text-align: left;
        label {
          font-size: 14px;
          line-height: 1.42857143;
          color: #333;
          background-color: #fff;
          font-weight: bold;
        }
        .form-control {
          margin-left: -15px;
        }
        .control-label {
          white-space: nowrap;
          margin-left: -15px;
        }
      }
      .btn {
        margin-left: -14px;
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 479px) {
  .container {
    .changepassword {
      .form-group {
        display: block;
        text-align: left;
        label {
          font-size: 14px;
          line-height: 1.42857143;
          color: #333;
          background-color: #fff;
          font-weight: bold;
        }
        .form-control {
          margin-left: -15px;
        }
        .control-label {
          white-space: nowrap;
          margin-left: -15px;
        }
      }
      .btn {
        margin-left: -14px;
      }
    }
  }
}
